@using LoanData.Models.Loan;


@model List<Installment>



<div class="container">
    @if (Model.Count == 0)
    {
        <div class="text-center row">
            <h2 class="text-center text-danger fw-bold">EMPTY</h2>
            <span class="text-center">No Loan has been applied Yet!</span>
        </div>
    }
    else
    {
        <table class="table table-striped table-bordered">
            <thead class="text-center bg-secondary">
                <tr>
                    <th>Loan ID</th>
                    <th>Group</th>
                    <th>Member</th>
                    <th>Installment Count</th>
                    <th>Installment Period</th>
                    <th>Loan Taken Date</th>
                    <th>Loan Refund Date</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="p-3 text-center align-items-center">
                @foreach (var installment in Model)
                {
                    <tr>
                        <td>@installment.Id</td>
                        <td>@installment.GroupName</td>
                        <td>@installment.MemberName</td>
                        <td>@installment.InstallmentCount</td>
                        <td>@installment.InstallmentDays</td>
                        <td>@installment.StartTime.ToString("dd/MM/yyyy")</td>
                        <td>@installment.EndTime.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a class="btn btn-info btn-sm fw-bold"
                                asp-controller="Installment"
                                asp-action="InstallmentIndex"
                                asp-route-groupId="@installment.GroupId"
                                asp-route-nid="@installment.MemberNID"
                                asp-route-loanId="@installment.Id">
                                Installment Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


