@using LoanData.ViewModels;

@model LoanPlanGroupSelectionViewModel


@functions {
    int serial = 0;
    int loanId = 1;

    public int GenerateId()
    {
        return loanId++;
    }
    
    public int SerialIncreaseByOne()
    {
        return serial++;
    }
}

<style>
    .rightPadding{
        margin-right: -50px;
    }

    .cursorActive {
        background-color: aqua;
    }

    .cursorActive:hover {
        cursor: pointer;
    }

    .givingPadding {
        padding: 0 75px;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="row">
            <h3>@Model.Member.Name</h3>
            <span>Plan Groupwise Loan</span>
        </div>
        <a class="btn btn-outline-secondary btn-sm"
            asp-action="MemberLoanIndex"
            asp-controller="Loan">
            Back to Previous Page
        </a>
    </div>
    <hr />
    <div class="mt-2 row gap-1">
        @if(Model.MemberContainingGroups.Count!=0)
        {
            @*<table class="table table-hover table-borderless table-striped text-center">
                @foreach (var loanGroup in Model.MemberContainingGroups)
                {
                    <tr>
                        <th>@GenerateId()</th>
                        <td>@loanGroup.LoanGroupId</td>
                        <td>@loanGroup.LoanGroupName</td>
                        <td>
                            @Html.Partial("_PlanningLoanPartial", new PersonalLoanFormViewModel { SelectedGroupId = loanGroup.LoanGroupId, SelectedMemberNID = Model.Member.NID})
                            <a class="btn btn-outline-success"
                                asp-action="Index"
                                asp-controller="Loan"
                                asp-route-nid="@Model.Member.NID"
                                asp-route-groupId="@loanGroup.LoanGroupId">
                                Plan Loan
                            </a>
                        </td>
                    </tr>
                }
            </table>*@
                    
            @foreach(var group in Model.MemberContainingGroups)
            {
                <ul class="list-unstyled bg-light rounded border col-6 border-1 py-2 cursorActive">
                    <li class="d-flex justify-content-between align-items-center givingPadding name-link">
                        <h4> @(GenerateId()+". "+ group.LoanGroupName)</h4>

                        @{
                            var isMatchedGroupId = Model.LoanTakenGroupIds.FindIndex(x => x == group.LoanGroupId);

                            if(isMatchedGroupId != 0)
                            {
                                <a class="btn btn-warning rightPadding"
                                    asp-action="Index"
                                    asp-route-nid="@Model.Member.NID"
                                    asp-route-groupId="@group.LoanGroupId">
                                    Plan Loan
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-success rightPadding">Loan Planned</button>
                            }
                        }
                        @*<i class="bi bi-chevron-double-right"></i>
                        <i class="bi bi-chevron-double-left" style="display:none;"></i>*@
                    </li>
                    <li>
                        <div class="loan-portion" style="display:none">
                            Hello there!
                            
                        </div>
                    </li>
                </ul>
            }
        }
        else if (Model.MemberContainingGroups.Count == 0)
        {
            <div class="text-center">
                <h2 class="text-danger fw-bold">EMPTY</h2>
                <span>This Member have not joined any Group Yet!</span>
                <p>
                    Click <a asp-action="MemberWithGroup"
                             asp-controller="Group"
                             asp-route-groupId="0"
                             asp-route-groupTypeId="1">
                        Here
                    </a> to add Member to Groups
                </p>
            </div>
        }
    </div>
</div>

