@using LoanData.Models.Group;

@model List<LoanGroup>;

<div class="container-fluid text-right loanIndex">
    <div class="d-flex justify-content-between">
        <h2 class=" mb-3">Loan Groups</h2>

        <a class="btn btn-outline-success btn-sm mb-4 mt-2" asp-controller="Group" asp-action="AddGroup">Add New Group</a>
    </div>
    <hr/>
    <div class="my-5">
        @if (Model.Count !=0)
        {
            <div class="container table-container">
                <table class="table table-striped table-bordered" id="loan-groups-table">
                    <thead class="text-center bg-secondary">
                        <tr>
                            <th>Group ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Creation Time</th>
                            <th>Member Details</th>
                            <th>Total Loan Amount</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="p-3">
                        @foreach (var group in Model)
                        {
                            <tr>
                                <td>@group.LoanGroupId</td>
                                <td>@group.LoanGroupName</td>
                                <td>@group.Location</td>
                                <td>@group.CreatedAt</td>
                                <td>
                                    <a class="text-decoration-none"
                                       asp-route-groupId="@group.LoanGroupId"
                                       asp-route-groupTypeId="1"
                                       asp-action="GroupMemberList">
                                        View Members
                                    </a>
                                </td>
                                <td>@group.TotalLoanAmount</td>
                                <td class="text-center">
                                    <div class="btn btn-group gap-3">
                                        <a class="text-decoration-none"
                                           asp-route-groupId="@group.LoanGroupId"
                                           asp-route-groupTypeId="1"
                                           asp-action="GetGroupDetails">Details</a> |
                                        <a class="text-decoration-none"
                                           asp-route-groupId="@group.LoanGroupId"
                                           asp-route-groupTypeId="1"
                                           asp-action="EditGroupInfo">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm"
                                       asp-action="GroupLoanPlan"
                                       asp-controller="Loan"
                                       asp-route-groupId="@group.LoanGroupId">
                                        Plan Loan
                                    </a>
                                </td>
                                @*<td class="text-center">
                        @if(group.IsLoanPlanned == false)
                        {
                        <a class="btn btn-warning"
                        asp-controller="Loan"
                        asp-action="Index"
                        asp-route-groupId="@group.LoanGroupId">
                        Loan Plan
                        </a>
                        }
                        else
                        {
                        <a class="btn btn-success cursor-not-allowed">Loan Planned</a>
                        }
                        </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="text-center row">
                <h2 class="text-center text-danger fw-bold">EMPTY</h2>
                <span class="text-center">No Loan Group created Yet!</span>
            </div>
        }
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#loan-groups-table").DataTable()
        })
    </script>
}