
@using LoanData.Models.Loan;

@model List<InstallmentPayment>

@functions{
    int id = 1;

    public string MemberName()
    {
        var MemberName = Model[0].MemberName;

        return MemberName;
    }

    public string GroupName()
    {
        var GroupName = Model[0].GroupName;

        return GroupName;
    }


}


<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Member: <u>@MemberName</u><br />Group: <u>@GroupName</u></h2>
        <a class="btn btn-outline-secondary btn-sm"
            asp-action="LoanIndex"
            asp-controller="Loan">
            <i class="bi bi-backspace"></i>
            Back to Loan List
        </a>
    </div>
    <hr />

    <table class="table table-striped table-bordered table-hover">
        <thead class="text-center bg-secondary">
            <tr>
                <th>Installment ID</th>
                <th>Group</th>
                <th>Member NID</th>
                <th>Required Amount</th>
                <th>Paid Amount</th>
                <th>Remaining Amount</th>
                <th>Loan Taken Date</th>
                <th>Loan Refund Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody class="p-3 text-center align-items-center">
            @foreach (var installment in Model)
            {
                <tr>
                    <td>@installment.InstallmentId</td>
                    <td>@installment.GroupName</td>
                    <td>@installment.MemberName</td>
                    <td>@installment.InstalmentAmount</td>
                    <td>@installment.PaidAmount</td>
                    <td>@installment.RemainingAmount</td>
                    <td>@installment.StartTime.ToString("dd-MM-yyyy")</td>
                    <td>@installment.EndTime.ToString("dd-MM-yyyy")</td>
                    @if (installment.StartTime.Date > DateTime.Now.Date)
                    {
                        <td>
                            <p class="btn btn-secondary">Coming Soon</p>
                        </td>
                    }
                    else
                    {
                        if (installment.IsPaid == false && DateTime.Now.Date > installment.EndTime.Date)
                        {
                            if (installment.PaidAmount != 0)
                            {
                                <td>
                                    <p class="btn btn-warning text-danger fw-bold">Partially Paid</p>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <p class="btn btn-danger">UnPaid</p>
                                </td>
                            }
                        }
                        else if (installment.IsPaid == false && DateTime.Now.Date <= installment.EndTime.Date)
                        {
                            if (installment.PaidAmount == 0)
                            {
                                <td>
                                    <a class="btn btn-warning"
                                       asp-action="InstallmentPayment"
                                       asp-controller="Installment"
                                       asp-route-groupId="@installment.GroupId"
                                       asp-route-nid="@installment.MemberNID"
                                       asp-route-loanId="@installment.LoanId"
                                       asp-route-installmentId="@installment.InstallmentId">
                                        Pay
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-warning text-danger fw-bold"
                                       asp-action="InstallmentPayment"
                                       asp-controller="Installment"
                                       asp-route-groupId="@installment.GroupId"
                                       asp-route-nid="@installment.MemberNID"
                                       asp-route-loanId="@installment.LoanId"
                                       asp-route-installmentId="@installment.InstallmentId">
                                        Pay Remaining
                                    </a>
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                <p class="btn btn-success">Paid</p>
                            </td>
                        }
                    }
                    
                </tr>
            }
        </tbody>
    </table>
</div>




