@using LoanData.Models.Loan;



@model List<InstallmentPayment>




<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>All Installments</h2>
        <a class="btn btn-outline-primary btn-sm"
           asp-action="LoanIndex"
           asp-controller="Loan">
            <i class="bi bi-backspace"></i>
            Head to Loan List
        </a>
    </div>
    <hr />
    <div>
        <table class="table table-striped table-bordered">
            <thead class="text-center bg-secondary">
                <tr>
                    <th>ID</th>
                    <th>Loan ID</th>
                    <th>Group Id</th>
                    <th>Member NID</th>
                    <th>Loan Due Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody class="p-3 text-center align-items-center">
                @foreach (var installment in Model)
                {
                    <tr>
                        <td>@installment.Id</td>
                        <td>@installment.LoanId</td>
                        <td>@installment.GroupId</td>
                        <td>@installment.MemberId</td>
                        <td>@installment.EndTime.ToString("dd/MM/yyyy")</td>
                        @if (installment.IsPaid == false && installment.PaidAmount != 0)
                        {
                            <td>
                                <p class="btn btn-warning">Partially Paid</p>
                            </td>
                        }
                        else if (installment.IsPaid == false)
                        {
                            <td>
                                <p class="btn btn-danger">UnPaid</p>
                            </td>
                        }
                        else
                        {
                            <td>
                                <p class="btn btn-success">Paid</p>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




